* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
.heading {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
p, a {
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    color: #f9faf8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-pic {
    width: 30vw;
    height: auto;
}
.text {
    width: 30vw;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #1f2937;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
ul li {
    display: inline;
}
a {
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84vw;
    margin-top: 3vh;
}
.preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24vw;
    width: 84vw;
    margin-bottom: 6vh;
}
.img {
    width: 18vw;
    height: auto;
    border-radius: 2vw;
}
.info {
    font-weight: 700;
    font-size: 30px;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    gap: 2vw;
    margin-top: 4vh;
}
.elt div {
    text-align: center;
}
.comment {
    margin-top: 9vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #e5e7eb;
    font-size: 20px;
    font-style: italic;
    color: #1f2937;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.legend {
    font-weight: 700;
    text-align: right;
}
.signUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 3vh 3vw;
    width: 70vw;
}
.signUp-container {
    padding: 6vh 5vw;
}
.call {
    font-weight: 600;
}
.right button {
    border: 2px solid #f9faf8;
}
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 4vh;
    width: 100%;
}